//Overflow
body{
    overflow-x: hidden;
}

//CSS for header text
header{
    min-height: 900px;
    h1{
        padding-top:40px;
        font-size: 100px;
    }
    h3{
        font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        font-size: 60px;
        padding-bottom:20px;
    }
}

//CSS for text
h1, h2, h3{
    text-shadow: 2px 2px #00000079;
}

h2{
    font-weight: bold;
}

p{
    font-size: 22px;
}

//CSS for the logo on the index.html
#logo{
    width:300px;
    height:300px;
    margin:auto;
    margin-bottom:20vh;
    border-radius: 50%;
    border: solid 5px #458745;
    box-shadow: black 2px 2px 20px;
}

//CSS for the arrow down on the front page of index.html
.downclick {
    margin-left: auto;
    margin-right: auto;
    margin-bottom:40px;
    border:none;
    width: 120px !important;
    height: 120px !important;
    background: rgba(0, 0, 0, 0);
    text-shadow: black 2px 2px 6px;
}

.downarrow {
    font-size: 70px;
    color: rgb(36, 122, 36);
    transition: 0.2s;
    //Arrow animation
    position: relative;
    animation-iteration-count: infinite;
    animation-name: example;
    animation-duration: 4s;
}

.downarrow:hover{
    color: rgb(114, 199, 114);
}

//CSS for the web button on index.html
.webbutton{
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    background-color: white;
    color:#215b21;
    border: 2px solid #458745;
    border-radius: 50px;
    box-shadow: black 2px 2px 10px;
    transition-duration: 0.4s;
    height: 80px;
    width: 350px;
    margin:20px;
}

.webbutton:hover{
    background-color: #458745;
    color:white;
}

//CSS for the software button on index.html
.softwarebutton{
    font-size: 20px;
    font-family: 'Fredoka One', cursive;
    background-color: white;
    color:#275d85;
    border: 2px solid #0275d8;
    border-radius: 50px;
    box-shadow: black 2px 2px 10px;
    transition-duration: 0.4s;
    height: 80px;
    width: 350px;
    margin:20px;
}

.softwarebutton:hover{
    background-color: #0275d8;
    color:white;
}

//CSS for cards
.card{
    background:#ffffff;
    border-radius: 20px;
    box-shadow: rgb(0, 0, 0) 3px 3px 12px;
    margin:20px;
    width:28%;
}

.card-img-top{
    border-radius: 2px;
    border: 1px solid grey;
}

.card-title{
    font-size: 27px;
}

.card-text{
    font-size: 18px;
}

.cardwebbutton{
    background:#ffffff;
    border: 2px solid #458745;
    color:#458745;
    width:100%;
    font-size: 19px;
    margin-top:auto;
    position: relative;
    transition-duration: 0.15s;
    &:hover{
        background-color: #458745;
        color:white;
    }
}

.cardsoftwarebutton{
    background:#ffffff;
    border: 2px solid #0275d8;
    color:#0275d8;
    width:100%;
    font-size: 19px;
    margin-top:auto;
    position: relative;
    transition-duration: 0.15s;
    &:hover{
        background-color: #0275d8;
        color:white;
    }
}

//CSS for icons
a{
    display:inline-block;
    position:relative;
    height:50px;
    width:50px;
}

.icon{
    background:black;
    border-radius: 100%;
    fill:white;
    transition: 0.2s;
    &:hover{
        background:white;
        color:black;
        border:2px solid rgb(89, 85, 85);
    }
}

.github{
    background:white;
    fill:black;
    &:hover{
        background:#6441a5;
        fill:white;
    }
}

.linkedin:hover{
    fill:#007BB6;
}

//Modals CSS

//Bootstrap breakpoints for consistency.
$bootstrap-sm: 576px;
$bootstrap-md: 768px;
$bootstrap-lg: 992px;
$bootstrap-xl: 1200px;

//Crop thumbnail images.
#gallery {
    img {
        height: 75vw;
        object-fit: cover;
        @media (min-width: $bootstrap-sm) {
            height: 35vw;
        }
    
        @media (min-width: $bootstrap-lg) {
            height: 18vw;
        }
    }
}

//Carousel Indicators
.carousel-indicators {
    opacity: 0.5;
}

.carousel-control-next-icon,
.carousel-control-prev-icon{
    border-radius:20%;
    padding:1.8vw;
}

// Crop images in the coursel
.carousel-item {
    img {
        height: 60vw;
        object-fit: cover;
    
        @media (min-width: $bootstrap-sm) {
        height: 350px;
        }
    }
}

//Meda Queries

//Cards
@media only screen and (max-width:1300px){
    .card{
        width:30%;
    }
    .card-text{
        font-size: 17px;
    }
    .card-title{
        font-size: 26px;
    }
}

@media only screen and (max-width:1000px){
    .card{
        width:45%;
    }
    .card-text{
        font-size: 15px;
    }
    .card-title{
        font-size: 25px;
    }
}

@media only screen and (max-width:700px){
    .card{
        width:88%;
        margin:20px;
    }
}

//Index responsive CSS
@media only screen and (max-width: 600px) {
    header{
        h1{
            font-size: 50px;
        }
        h3{
            font-size: 30px;
        }
    }
}

//Arrow animation
@keyframes example {
    86% {top:0px;}
    93% {top:35px;}
    100% {top:0px;}
}
